<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect requests to the Laravel public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,NC]

    # Redirect to the public/index.php file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /public/index.php [L]
</IfModule>
